<h1>Hello World!</h1>
<div class="main-page">
  <app-component-base [ciudades]="ciudades"> 
  </app-component-base>
  <br>

  <app-ciudades-form
    (ciudadAgregada)="onCiudadAgregada($event)"
  ></app-ciudades-form
  ><br />

  <div  *ngIf="ciudades.length > 1; else elseBlock"> 
    <app-conexion-form [ciudades]="ciudades"></app-conexion-form>
  </div>
  <ng-template #elseBlock>
    <p>Introduzca al menos dos ciudades para continuar</p>
  </ng-template>
</div>

<div *ngIf="ciudades.length > 0">
  <h2>Ciudades:</h2>
  <ul>
    @for (ciudad of ciudades; track ciudad){
    <li>
      {{ ciudad }}
      <button type="button" (click)="eliminarCiudad(ciudad)">Eliminar</button>
    </li>
    }
  </ul>
</div>
