<form>
    <label for="origen">Origen:</label>
    <input type="text" id="origen" name="origen" ngModel required>
  
    <label for="destino">Destino:</label>
    <input type="text" id="destino" name="destino" ngModel required>
  
    <label for="tipoTransporte">Tipo de Transporte:</label>
    <select id="tipoTransporte" name="tipoTransporte" ngModel>
      <option value="coche">Coche</option>
      <option value="tren">Tren</option>
      <option value="avion">Avión</option>
    </select>
    
    <input *@if="tipoTransporte === 'coche'" type="text" id="matricula" name="matricula" ngModel>
    <label for="matricula">Matrícula:</label>
   
    <input *@if="tipoTransporte === 'tren'" type="text" id="numTren" name="numTren" ngModel>
    <label for="numTren">Número de Tren:</label>
    
    <input *@if="tipoTransporte === 'avion'" type="text" id="numVuelo" name="numVuelo" ngModel>
    <label for="numVuelo">Número de Vuelo:</label>
  
    <button type="submit">Agregar Conexión</button>
  </form>
  