<form (ngSubmit)="agregarConexion(form)" #form="ngForm">
  <div *ngIf="ciudades.length > 0">
    <label for="origen">Origen:</label>
    <select id="origen" name="origen" ngModel required>
      <option *ngFor="let ciudad of ciudades" [value]="ciudad">
        {{ ciudad }}
      </option>
    </select>

    <label for="destino">Destino:</label>
    <select id="destino" name="destino" ngModel required>
      <option *ngFor="let ciudad of ciudades" [value]="ciudad">
        {{ ciudad }}
      </option>
    </select>

    <label for="transporte"></label>
    <select
      id="transporte"
      name="transporte"
      [(ngModel)]="tipoTransporteSeleccionado"
    >
      <option value="Coche">Coche</option>
      <option value="Tren">Tren</option>
      <option value="Avion">Avión</option>
      <option value="Barco">Barco</option>
    </select>

    <div *ngIf="tipoTransporteSeleccionado === 'Coche'">
      <!-- Campos para Coche -->
      <label for="matricula">Matrícula:</label>
      <input type="text" id="matricula" name="matricula" ngModel required />
    </div>
    <div *ngIf="tipoTransporteSeleccionado === 'Tren'">
      <!-- Campos para Tren -->
      <label for="numTren">Número de Tren:</label>
      <input type="text" id="numTren" name="numTren" ngModel required />

      <label for="numAsientoTren">Número de asiento:</label>
      <input
        type="text"
        id="numAsientoTren"
        name="numAsientoTren"
        ngModel
        required
      />
    </div>
    <div *ngIf="tipoTransporteSeleccionado === 'Avion'">
      <!-- Campos para Avión -->
      <label for="numVuelo">Número de avion:</label>
      <input type="text" id="numVuelo" name="numVuelo" ngModel required />

      <label for="numAsientoAvion">Número de asiento:</label>
      <input
        type="text"
        id="numAsientoAvion"
        name="numAsientoAvion"
        ngModel
        required
      />
    </div>
    <div *ngIf="tipoTransporteSeleccionado === 'Barco'">
      <!-- Campos para Avión -->
      <label for="numBarco">Número de barco:</label>
      <input type="text" id="numBarco" name="numBarco" ngModel required />
    </div>

    <button type="submit">Agregar Conexión</button>
  </div>
</form>

<div *ngIf="conexiones.length > 0">
  <h3>Conexiones existentes:</h3>
  <div *ngFor="let conexion of conexiones; let i = index">
    <div>
      {{ conexion.origen }} a {{ conexion.destino }} usando
      {{ conexion.transporte }}
      <button type="button" (click)="eliminarConexion(i)">Eliminar</button>
    </div>
  </div>
</div>
