<form (ngSubmit)="buscarRuta(form)" #form="ngForm">
  <div class="base-form">
    <div class="ciudad-origen">
      <label for="origen">Ciudad de origen:</label>
      <select id="origen" name="origen" ngModel required>
        <option *ngFor="let ciudad of ciudades" [value]="ciudad">
          {{ ciudad }}
        </option>
      </select>
    </div>

    <div class="ciudad-destino">
      <label for="destino">Ciudad de destino:</label>
      <select id="destino" name="destino" ngModel required>
        <option *ngFor="let ciudad of ciudades" [value]="ciudad">
          {{ ciudad }}
        </option>
      </select>
    </div>

    <button type="submit">Buscar ruta</button>

    <div class="resultado" *ngIf="ciudadOrigen && ciudadDestino">
      <span>{{ciudadOrigen}} a {{ciudadDestino}}</span>
      <span [innerHTML]="mensaje"></span>
    </div>
  </div>
</form>
